#im{
    position:absolute;
    right:832px;
    top: 70px; 
    height:918px;
}
#nam{
    position: relative;
    left:850px;
    top:197px;
    font-size: xx-large;
    font-family: 'PT Serif', serif;
    color: #bab9a9;
    text-align: justify;
}
#intro{
    position: relative;
    left:860px;
    top:185px;
    width: 520px;
    padding: auto;
    margin-top: 25px;
    font-size: 26px;
    color: #77786c;
    text-align: justify;
}
.cta{
    display: inline-block;
    position: relative;
    left: 850px;
    top: 230px;
    border:2px #77786c solid;
    border-radius:50px ;
    height: 0px;
    padding: 20px 30px 30px 30px;
    background: linear-gradient(#77786c,#858765);;
    color: black;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
#soc{
    position: absolute;
    top: 960px;
    left: 1300px;
}
