#rer{position: relative;
    left: 1px;

}
#soc{
    position: absolute;
    top: 1840px;
    left: 1300px;
}
table{

    display: inline;
    position: relative;
    left: 30px;
    bottom:450px;
    width: 900px;
}
#size{
    height: 288px;
}
#R{
    color: #121ca3;
    font-size: 130px;
    font-family: 'Oswald', sans-serif;
}
.parag{
    height: 100px;
    width: 700px;
    position: relative;
    left: 280px;
    bottom: 300px;
}
#finale{
    display: block;
    position: absolute;
    top: 900px;
}